<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Bootstrap Cards</title>
</head>
<style>
  .cards{
    display: grid;
    grid-template-columns:350px 350px 350px;
    gap:1rem;
  }
</style>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary ">
    <div class="container">
      <a class="navbar-brand text-white" href="#">Welcome Cards</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link text-white" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/cards">cards</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Sign Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container mt-5">
    <div class="col-md-4 cards ">
    <% dogJson.forEach(function(dog) { %>
        <div class="card bg-danger text-white rounded ">
          <!-- <img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap"> -->
          <div class="card-body">
            <h5 class="card-title"><%=dog.dog_name %></h5>
            <p class="card-text"><%=dog.origin %></p>
          </div>
        </div>
        <% }); %>
      </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>